<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Temando_Installer>
            <version>1.0.5</version>
        </Temando_Installer>
    </modules>
    <global>
        <models>
            <temandoinstaller>
                <class>Temando_Installer_Model</class>
                <resourceModel>temandoinstaller_resource</resourceModel>
            </temandoinstaller>
            <temandoinstaller_resource>
                <class>Temando_Installer_Model_resource</class>
                <entities>
                    <installer><table>temando_installer</table></installer>
                </entities>
            </temandoinstaller_resource>
        </models>
        <blocks>
            <temandoinstaller>
                <class>Temando_Installer_Block</class>
            </temandoinstaller>
        </blocks>
        <helpers>
            <temandoinstaller>
                <class>Temando_Installer_Helper</class>
            </temandoinstaller>
        </helpers>
        <resources>
            <temandoinstaller_setup>
                <setup>
                    <module>Temando_Installer</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </temandoinstaller_setup>
            <temandoinstaller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </temandoinstaller_write>
            <temandoinstaller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </temandoinstaller_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <temando_installer after="Mage_Adminhtml">Temando_Installer_Adminhtml</temando_installer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <temandoinstaller>
                    <file>temandoinstaller.xml</file>
                </temandoinstaller>
            </updates>
        </layout>
        <!-- add translation file -->
        <translate>
            <modules>
                <Temando_Installer>
                    <files>
                        <default>Temando_Installer.csv</default>
                    </files>
                </Temando_Installer>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
	    <temandoinstaller_daily_update_check>
		<!-- Daily at 11pm -->
                <schedule><cron_expr>0 23 * * *</cron_expr></schedule>
                <run><model>temandoinstaller/cron::checkReleases</model></run>
            </temandoinstaller_daily_update_check>
        </jobs>
    </crontab>
</config>
